h1{
    text-align: center;
    padding-top: 2%;
}
body {
    height: 100%;
    background-color: #f2f2f2;
  }
  
  .event:hover {
    cursor: pointer;
  }
  
  .hidden {
    visibility: hidden;
    height: 0;
  }
  
  #calendar {
    height: 100vh !important;
  }

.custom-container {
    width: 100%;
    padding: 20%;
}
.cat-school { background-color: #e7f1ff; }
.cat-work   { background-color: #e8fff1; }
.cat-social { background-color: #fff4e6; }
.cat-health { background-color: #ffe8ee; }
.cat-other  { background-color: #f1f3f5; }

